*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h2{
    position: absolute;
    z-index: 1000;
    font-size: 5em;
    letter-spacing: 2px;
    top: 20%;
    left: 50%;
    color:white;
    mix-blend-mode: exclusion;
    transform: translate(-50%,-50%);
}