*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}

body{
    
    background-color: #F6F6F8 !important;
    overflow-x: hidden;
    height: 100vh;
 
}
::-webkit-scrollbar {
    width: 10px;
    background: #F8F9FA;
}
::-webkit-scrollbar-thumb {
    background: #8E8692;
    border-radius: 50px;
  }
/*
background-color: #1A2238;
*/
#template{
   
    margin: 0 auto;
    max-width: 1366px;
}
#header{
    background-color: #F6F6F8;
    margin: 20px 0;
    width: 100%;
    top: 0;
    position: sticky;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    padding: 0 5%;
    & > *{
        display: inline-block;
        color: black;
        
    }
 
}
#main{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

  